h1 {
  color: var(--v-primary-base);
  font-size: 30px;
}
h2 {
  color: var(--v-primary-base);
  font-size: 25px;
}
h3 {
  color: var(--v-primary-base);
  font-size: 20px;
}
h5{
  color: var(--v-primary-base);
  font-size: 15px;
}
.v-icon {
  color: var(--v-primary-lighten1) !important;
}
.v-btn {
  color: var(--v-primary-lighten1) !important;
}

