# Node related
NODE_ENV=development

# App related
APP="Restoo"
PORT=3001
HOSTNAME=http://localhost:3001/
APP_SECRET=

# DB related
MONGO_URI=
MONGOTESTURI=

# Stripe
STRIPE_SK=

FRONTEND_URL=http://localhost:3000/

# Mail transport
TRANSPORTER_HOST=smtp.mymail.com
TRANSPORTER_PORT=2525
TRANSPORTER_USERNAME=
TRANSPORTER_PASSWORD=

MEDIA_HOST=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=mezomia-restoo
AWS_REGION=eu-central-1
MEDIA_PREFIX=damas-lounge
